.page-scroller {
    display: flex;
    flex-direction: column;
    &.page-scroller_easing {
        transition: all 1000ms ease 0s;
    }
    &.page-scroller_horizontal {
        flex-direction: row;
    }
}

.page-scroller__section {
    position: relative;
    height: 100vh;
}