@import './page-scroller.scss';

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-scroller__section {
    &:nth-child(1) {
        background: red;
    }
    &:nth-child(2) {
        background: black;
    }
    &:nth-child(3) {
        background: blue;
    }
    &:nth-child(4) {
        background: blueviolet;
    }
}

.content {
    .header {
        padding: 100px 15px;
    }
    .page {
        padding: 100px 15px;
        p {
            font-size: 24px;
            line-height: 32px;
            color: #fff;
        }
    }
}