@import './page-scroller.scss';

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.page-scroller {
    position: relative;
}

.page-scroller__section {
    &:nth-child(1) {
        background: red;
    }
    &:nth-child(2) {
        background: black;
    }
    &:nth-child(3) {
        background: blue;
    }
    &:nth-child(4) {
        background: blueviolet;
    }
}

.content {
    .header {
        padding: 100px 15px;
    }
    .page {
        padding: 100px 15px;
        p {
            font-size: 24px;
            line-height: 32px;
            color: #fff;
        }
    }
}

.page-scroller-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #000;
    }
}